@model IEnumerable<CropImage.Models.ImageCroped>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}


@*<p>
        @Html.ActionLink("Thêm mới hình ảnh", "Create")
    </p>*@
<div class="row">

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-flag-o font-green-sharp bold"></i>
                <span class="caption-subject font-green-sharp bold ">Danh sách hình ảnh</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="clearfix">
                <a class="btn btn-success" id="ImageAll">
                    <i class="fa fa-cloud-download"></i>
                    <span> Xuất file ảnh đã khoanh</span>
                </a>
                <a class="btn btn-info" id="ImageThay">
                    <i class="fa fa-cogs"></i>
                    <span> Tạo file training từ ảnh gốc</span>
                </a>
                <a class="btn btn-circle btn-warning" id="WriteByAllFile">
                    <i class="fa fa-download"></i>
                    <span> Tạo file training từ các hình đã khoanh</span>
                </a>
                <a href="/Core/Images" class="btn default"><i class="fa fa-mail-reply-all"></i>Quay về danh sách</a>
            </div>
        </div>
    </div>


</div>
@section Scripts2 {
    <script src="~/Scripts/Customer.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#ImageThay').on('click', function (e) {
                e.preventDefault();
                AjaxLoad('/Core/ImageCropeds/WriteFile', 1, "Thực hiện tải file");
            });
            $('#WriteByAllFile').on('click', function (e) {
                e.preventDefault();
                AjaxLoad('/Core/ImageCropeds/WriteByAllFile', 1, "Thực hiện tải file");
            });
            $('#ImageAll').on('click', function (e) {
                e.preventDefault();
                AjaxLoad('/Core/ImageCropeds/ImageAll', 1, "Thực hiện tải file");
            });
            //$('.edit').on('click', function () { alert("sửa làm chi cho cực hãy xóa đi r add cái mới "); return; });
            $('#Write').click(function () { alert("Chức năng này đang phát triển còn một số lỗi "); });
            function AjaxLoad(link, accountid, mess) {
                $.blockUI({
                    message: 'Vui lòng đợi!',
                    overlayColor: 'none',
                    cenrerY: true,
                    boxed: true,
                    zIndex: 99999
                });
                $.ajax({
                    type: 'POST',
                    url: link,
                    dataType: 'json',
                    data: { Accountid: accountid },
                    success: function (result) {
                        if (result.Isok == true) {
                            showNoty(mess, 'success', 'center', 5000);
                            location.href = result.Data;
                        }
                        else {
                            showNoty(result.message, 'error', 'center', 5000);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showNoty('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!<br />Lỗi: ' + errorThrown, 'error', 'center', 5000);
                    },
                    complete: function (result) {
                        $.unblockUI();
                    }
                });
            }
        });

    </script>
}