
@{
    ViewBag.Title = "GennerError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="/Core/CoreHome/Index">Trang chủ</a>
   
        <i class="fa fa-angle-right"></i>
    </li>
    <li class="active">
        Lỗi hệ thống
    </li>
</ul>
@*Bắt đầu nội dung tùy chỉnh*@

<div class="row">
    <div class="col-md-12 page-500 text-center" >
        <div class=" number font-red"> Lỗi </div>
        <div class=" details">
            <h3>Lỗi khi thực hiện yêu cầu của bạn!</h3>
            <p>
                @ViewBag.Exception
                <br />
            </p>
            <p>
                <a href="/Core/CoreHome/Index" class="btn red btn-outline"> Về trang chủ </a>
                <br>
            </p>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/css/metronic/error")
}
